<div class="d-flex justify-content-center align-items-center flex-wrap cards-list">
  <% @gifts.each do |gift| %>
    <div class="card" data-toggle="tooltip" title="<%= gift.comment.presence || 'Gezuar!' %>">
      <div class="card-image">
        <%= cl_image_tag gift.photo.url(:bright_face) %>
        <div class="card-video-icon d-flex align-items-center justify-content-center">
          <i class="fas fa-play"></i>
        </div>
      </div>
      <%= link_to '', gift.video_url, target: :_blank, class: 'card-link' %>
    </div>
  <% end %>
</div>
