<div class="d-flex align-items-center justify-content-center flex-wrap cards-list">
  <% @gifts.each do |gift| %>
    <div class="card">
      <div class="card-image">
        <%= cl_image_tag gift.photo.url(:bright_face) %>
      </div>
      <%= link_to '', gift_path(gift), target: :blank, class: 'card-link' %>
    </div>
  <% end %>
</div>
