<div class="container p-4">
  <h2 class='text-center'>Këtu është dhurata juaj Anisës</h2>
  <p class='text-center'>Mund të rri pezull foton për të filluar videon</p>
  <div class="d-flex justify-content-center pt-4">
    <div class="card">
      <div class="card-image">
        <%= cl_image_tag @gift.photo.url(:bright_face) %>
        <div class="card-video-icon d-flex align-items-center justify-content-center">
          <i class="fas fa-play"></i>
        </div>
      </div>
      <% if @gift.comment.present? %>
        <div class='text-center bg-white p-2'>
          <%= @gift.comment %>
        </div>
      <% end %>
      <%= link_to '', @gift.video_url, target: :blank, class: 'card-link' %>
    </div>
  </div>
</div>
