.card-white {
  background-color: white;
  border-radius: 3px;
  color: $gray;
  padding: 20px;
  &.card-xl {
    padding: 50px;
  }
}
.card {
  position: relative;
  color: $gray;
}
.card-image {
  position: relative;
  img {
    width: 200px;
    height: 200px;
  }
}
.card-link, .card-video-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.card-video-icon i {
  font-size: 32px;
  display: none;
}
.card:hover .card-image .card-video-icon i {
  display: block;
}
.card:hover {
  opacity: 0.5;
}
